@media only screen and (max-width: 768px) {
    .container-section {
        display:flex;
        flex-direction:column;
        padding:12px;
        
    }
    nav {
        padding:20px;
       
    }

    .content-about {
        width:100%;
        padding:25px;
        line-height:1cm;
        font-size:.9rem;
    }
  .content-about h2 {
    font-size:1.425rem;
    text-indent:none;
   
    
  }

  .content-about h1 {
    font-size:1.75rem;
    text-indent:none;
    
  }

  .content-about p {
    font-size:1.325rem;
  }

 .projetos {
  
        flex-direction:column;
        padding:12px;
 }
.container-card{
  flex-direction:column;
}
 .card-2 {
  font-size:0.525rem;
  width:52%;
 }
}